*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100%;
    height: 60px;
    background: #2a2a2a;
    border-bottom: 4px solid #3c78d8;
    display: flex;
    justify-content: space-between;
    color: white;
}

.icon-menu{
    font-size: 30px;
    margin-top: 14px;
    margin-left: 10px;
}

header h1{
    font-weight: 100;
    margin-top: 10px;
}

.icon-search{
    font-size: 26px;
    margin-top: 14px;
    margin-right: 10px;
}

/*Galeria - contenido*/

main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    transition: all 400ms cubic-bezier(1,0,0,1);
}

.main2{
    transform: scale(.9);
    box-shadow: 0px 0px 40px -15px;
}

article{
    padding-top: 20px;
}

article h1{
    font-size: 40px;
}

article p{
    font-size: 18px;
    margin-top: 20px;
}


.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.gallery .image{
    width: 350px;
    height: 200px;
    overflow: hidden;
    margin: 5px;
    border: 4px solid #3c78d8;
}

.gallery .image img{
    width: 105%;
}


/*Menu*/


.container-menu{
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(left bottom, red, #5013f7);
    opacity: .9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


.redes-close{
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}

.redes-close label{
    font-size: 26px;
    margin: 6px;
    color: white;
}

.redes-close font{
    position: absolute;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: all 300ms;
}

.redes-close font:hover{
    transform: rotate(180deg);
}


.container-menu ul{
    margin-top: 40px;
    margin-left: 20px;
}

.container-menu ul li{
    list-style: none;
    padding: 10px;
}

.container-menu ul li a{
    color: white; 
    font-size: 28px;
    text-decoration: none;
    position: relative;
}

.container-menu ul li a:before{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 2px;
    background: white;
    transition: all 300ms;
}

.container-menu ul li a:hover:before{
    width: 120%;
}











